
{% extends "base.html" %}

{% block page_content %}

<nav class="navbar navbar-light" style="background-color: #EEF8FF;">
    <span class="navbar-brand mb-0 h1" style="color: #384E77">Meteo Tweets</span>


</nav>

<div class="container pt-3">
    <div class="row justify-content-center pb-2">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <p>There we were in the middle of the road, sitting in the shade to avoid the heat. It was a quiet afternoon and a gentle breeze was wafting through the trees.</p>
    </div>
</div>

<div class="container">

    <div class="row justify-content-center pb-2">
        <h1>Projects</h1>
    </div>


    <div class="row">

    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D" alt="Project 1">
            <div class="card-body">
                <h5 class="card-title">Project 1 Card</h5>
                <p class="card-text">Short description of project</p>
                <a href="#" class="btn btn-primary">Link to project</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D" alt="Project 1">
            <div class="card-body">
                <h5 class="card-title">Project 2 Card</h5>
                <p class="card-text">Short description of project</p>
                <a href="#" class="btn btn-primary">Link to project</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D" alt="Project 1">
            <div class="card-body">
                <h5 class="card-title">Project 3 Card</h5>
                <p class="card-text">Short description of project</p>
                <a href="#" class="btn btn-primary">Link to project</a>
            </div>
        </div>
    </div>

    <div class="container pt-3">
        <div class="row justify-content-center pb-2">
            <h1>Sponsors</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <a href="https://www.uzh.ch">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Universit%C3%A4t_Z%C3%BCrich_logo.svg" alt="UZH">
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}