<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js"></script>
    {{ script | safe }}
    <title>Timeline</title>
</head>


<body>

    <div class="container">
        <div class="title">Temp page, bokeh testing</div>
    </div>

    <div class="container">
        {{ div | safe}}

        <h1>Test</h1>
    </div>

    
</body>
