<!DOCTYPE html>
<html>

  <head>
      {%load static%}
    <!-- <script data-require="d3@3.4.6" data-semver="3.4.6" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/d3-lasso.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <!-- <script src = "/static/js/lasso.min.js"></script> -->
    <link href="{% static 'css/d3map.css' %}" rel="stylesheet">
    {%load static%}
  </head>

  <body>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardTime" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardTime">
                    <h6 class="m-0 font-weight-bold text-primary">Time Selection</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show text-center" id="collapseCardTime" style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px;margin-right: 10px;">
                        <div id="sandbox-container" class="container">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" name="start" id="start_date_input" style="margin-right: 20px;"/>
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="end" id="end_date_input" style="margin-left: 20px;"/>
                            </div>
                        </div>
                        <div class="container" style="margin-top: 10px">
                            <div class="btn btn-success btn-icon-split" onclick="update_leaflet()">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Update</span>
                            </div>
                        </div>
                                                            
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'dashboard_template/vendor/jquery/jquery.min.js' %}"></script>

    <!-- <script>var json_url = "{% static 'data/ch-cantons-lakes.json' %}";</script> -->
    <script type="text/javascript" src="{% static 'js/d3Map.js' %}"></script>
    <script>update_d3Map()</script>
  </body>

</html>