
{% extends "base.html" %}

{% block page_content %}

<nav class="navbar navbar-light" style="background-color: #EEF8FF;">
    <span class="navbar-brand mb-0 h1" style="color: #384E77">Meteo Tweets</span>


</nav>

<div class="container">
    <div class="col-md-6 offset-md-3">
    <div class="card login-card">
        <div class="row no-gutters">
            <div class="col-md-5">
                <!--
                    <img class="card-img-left" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D" alt="Login">
                -->
                </div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="login-card-description">Sign into your account</p>
                </div>


                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
                </div>
                
            </div>
        </div>
    </div>
    </div>

    <div class="col-5">

    <div class="form-signin">
        
    </div>
    </div>
</div>

{% endblock %}