<!DOCTYPE html>
<meta charset="utf-8">

<!-- Packages -->

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<!-- Load lodash -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<!-- Load color palettes -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style type="text/css">
  #container {height:100%; width:100%;font-size: 0;}
  #left, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 15px;}
  #left {width: 30%;}
  #right {width: 70%; }

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.css"> -->




<!-- Following is the arrangement of visualization elements  -->

<!-- Page Title -->

<div id="mytitle"> 
  <h1>Welcome to the visualization board!</h1>
</div>
<br>



<!-- Part 0: TiemLine and Tweets Counts-->

<style>
.area {
  fill: steelblue;
  /*fill:orange;*/
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
</style>

<!-- Part 0: Tweet Counts and Timeline(with single brush and zoom)-->
<div >
  <h2>Tweet Counts</h2>
  <div id='timeline'>
    <script type="text/javascript" src="/static/js/timeline.js"></script>
    <br>
    <button type="button" id="sliderButton" value="Get Dates" onclick="update_slider()">Get Dates</button>
    <button type="button" id="slider2DatesButton" value="Pass Dates" onclick="update_calendar_cloud()">Pass Dates</button>
  </div>
</div>


<!-- Part 1: Wordcloud in chosen time -->

<div id='part1_wordcloud'>
  <div id="cloud-title"> 
  <h2>Wordcloud</h2>
  </div>
  <script type="text/javascript" src="/static/js/part1_wordcloud.js"></script>
  <!-- Dislay selected time duration in text-->
  <div id="mytest2"> {{ place }} </div>
  <br><br>

  <!-- Define two calenders, "Reset" and "Apply change" buttons -->
  <form method="get">

    <!-- Create a time selection panel -->
    <label for="startlabel">Start date:</label>
    <input type="date" id="start" name="start-date"
           value= "2016-05-27"
           min="2015-01-01" max="2017-12-31">

    <label for="endlabel">End date:</label>
    <input type="date" id="end" name="end-date"
           value="2016-05-28"
           min="2015-01-01" max="2017-12-31">
    <br>

    <!-- Reset Button -->
    <input type="submit" value="Reset" name="submitreset">

    <!-- Upply Change Button -->
    <button type="button" id="myButton" value="Apply Change" onclick="update_cloud()">Apply change</button>
    <br>
  </form>
  <br><br>
</div>

  <div id="my_dataviz1"> Following is the wordcloud:</div>
  <br>
  <div id="my_cloudviz" data-value=""> {{ place2 }} </div>
  <!-- Initialize a select button -->
  <br>
  <p id="word-doc-text">No corresponding document</p>
  <br>





<!-- Part 2: Topics of selected weather glossary -->
<div id="topic-title"> 
<h2>Weather Topics</h2>
</div>
<div id="container" >
  <script type="text/javascript" src="/static/js/part2_topics.js"></script>
  <div id="left">
      <label for="selectButton" style=' font-size: 20px'>Weather Glossary</label>
    <br>
    <form method="get">
      <select id="selectButton"></select>
    </form>

  </div>
  <div id="right">
    <div id="mydataviz3"> Following is the graph for topics:</div>
    <!-- <p id="topic-text"></p> -->
    <!-- <script type="text/javascript" src="/static/js/topic.js"></script> -->
    <div id= "topic-div"></div>

  </div>
</div>


<br><br><br><br><br><br>

<input type="text" id="user-input" value="Your input" autofocus="">
<br>
<button type="button" id="sender" onclick="refresh_input()">Send data</button><br>

<div id='my_dataviz'></div>





<!-- <button type="button" id="myButton" onclick="update_cloud()">Apply change</button> -->
<!-- Part 3: Social Network -->
<form method="get">
  <div id="network-title"> 
  <h2>Social Networks</h2>
  </div>
  <div class="btn-group">

    <button type="button" id='user-net' onclick="draw_user_net()" style='background-color:green;' class="btn btn-primary">User Network</button>
    <button type="button" id='bi-net' onclick="draw_bi_net()" class="btn btn-primary">Bi-Network</button>
  </div>
  <br>
  <svg id='network'></svg>
  <script type="text/javascript" src="/static/js/part3_network.js"></script>
</form>





<script>

// set the dimensions and margins of the graph
var margin = {top: 30, right: 30, bottom: 30, left: 50},
    width = 1000 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;

//============ Weather Event Dropdown Menu Initialization ============


var event_groups = JSON.parse('{{ event_groups|escapejs }}');

d3.select("#selectButton")
  .selectAll('optgroup')
  .data(event_groups)
  .enter()
  .append('optgroup')
  .attr('label',function(d){return d.key})
  .selectAll('option')
  .data(function(d){return d.value})
  .enter()
  .append('option')
  .text(function(d){return d;})
  .attr('value', function(d) {return d;});


d3.select("#selectButton").on("change", function(d) {
    var selectedOption = d3.select(this).property("value");
    update_menu(selectedOption);
})



// ================ Refresh Text Input (For Test Only)======================


function refresh_input(){
  var input = document.getElementById("user-input").value;
  
  $.ajax({
      url: '',
      data: {
        'inputValue': input
      },
      dataType: 'json',
      success: function (data) {
        console.log(data);
        document.getElementById('p-text').innerHTML = data["response"];

      }
    });
};


// ========================== Social Networks =======================




</script>